data/
events.out*
__pycache__
*.sh
*.sh~ 
*.tar
.ipynb_checkpoints
*.log
*.png
*.json
*.csv
.cache
.bash_history
.ssh
.vscode-server
.gitconfig
*.onnx
*.xlsx
*.pdf
*__init__.py
*.pth
*.npy
.nv
.config
experiments
.vscode
*.h5
.gitignore
